/*
    $LastChangedRevision: 1938 $
    $LastChangedDate: 2010-03-10 20:50:58 +1000 (Wed, 10 Mar 2010) $
*/

body {
  font-family: "Lucida Grande", Arial, Verdana, sans-serif;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: x-large;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

h3 {
  font-size: large;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
}

h4 {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

img {
  border: 0;
}

li {
  margin-left: 100px
}

a {
  color: #336666;
  font-style: normal;
  text-decoration: none;
}

.author {
  text-align: center;
}

.code {
  background-color: #F5F5F5;
}

.copyright {
  font-size: small;
  text-align: center;
}

.navheader {
  background-color: #AADDDD;
}

.navfooter {
  background-color: #AADDDD;
}

.programlisting {
  background-color: #F5F5F5;
}

.revhistory table {
  background-color: #F4FFFF;
  color: #AAAAAA;
  font-size: xx-small;
}

.revhistory td {
  border-width: 0;
}

.revhistory th {
  border-width: 0;
}

.subtitle {
  text-align: center;
}

.toc {
  margin-left: 150px
}
